.container {
  min-width: 100px;
  min-height: 100px;
  width: fit-content;
  height: fit-content;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 0.5rem #00000033;
  border-radius: 0.5rem;
}

.container [class*='handle'] {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: move;
}